.bg-image {
    background-image: url('https://img.freepik.com/premium-vector/falling-colorful-messy-numbers-math-study-concept-with-flying-digits-fascinating-back-school-mathematics-banner-white-background-falling-numbers-vector-illustration_174187-2929.jpg?w=2000');
    margin: 0;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
  }

/* .bg-image {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px); 
    filter: blur(10px);
    } */



  
  h1 {
      display: block;
      font-size: 3.5em;
      margin: 50px;
      font-weight: bold;
      position: relative;
      width: 800px;
      /* max-width: 1000px; */
      /* padding: 50px; */
      background: rgba(255, 255, 255, .65);
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      margin: auto
  }

  h1, h2 {
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, .65);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  h2 {
    width: 400px;
    margin: 20px auto;
  }
  
  .details{
    position: absolute;
    margin-right: 50%;
    margin-left: 0;
    top: 30%;
    left: 10%;
  }
  
  .button {
      border:#e5b9f3;
      color: rgb(56, 1, 69);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      }

  .button1 {
      background-color: #b6e6f0;
      margin-top: 5.4em;
      margin-left: 56%;
      margin-right: 0;
      border: black;
  } 
  .button2 {
      background-color: #b6e6f0;
      margin-top: 1em;
      margin-left: 70%;
      margin-right: 0;
      border: black;
  } 

form {
    width: 500px;
    text-align: right;
    margin: 50px;
    margin-left: 750px;
    position: relative;
    background: rgba(255, 255, 255, .65);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

footer {
    text-align: center;
    margin: 120px auto;
    margin-bottom: 0px;
    position: relative;
    background: rgba(255, 255, 255, .65);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width:650px;
}

.details {
  padding: 0px 30px;
  /* position: relative; */
  background: rgba(255, 255, 255, .65);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
